body {
  text-align: center;
  margin: auto;
}

#card {
  background-color: #f3f3f3;
  border-radius: 25px;
  width: 35%;
  margin: auto;
}

.avatarImage {
  text-align: right;
}

.personInf {
  vertical-align: middle;
}

.top {
  width: 442px;
  margin: auto;
}

.low {
  margin: 0;
}

.halfSized {
  width: 45%;
  display: inline-block;
  margin: auto;
  padding: 10px;
}

#studentImage {
  width: 45%;
  vertical-align: middle;
}

#studentId {
  padding: 5px;
}

table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
}

th {
  background-color: #86a1ce;
  padding: 5px;
}
