body {
  text-align: center;
  margin: auto;
}

#reportCard {
  background-color: #f3f3f3;
  width: 50%;
  margin: auto;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.avatarImage {
  text-align: right;
}

.personalInfoDiv {
  vertical-align: middle;
}

.topSection {
  width: 442px;
  margin: auto;
}

.lowSpacing {
  margin: 0;
}

.halfSized {
  width: 45%;
  display: inline-block;
  margin: auto;
  padding: 10px;
}

#studentImage {
  width: 45%;
  vertical-align: middle;
}

#studentId {
  padding: 5px;
  text-align: left;
}

table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
}

th {
  background-color: ##0061ff;
  padding: 5px;
}
